

a {
  font-weight: 500;
  color: #7C3AED;
  text-decoration: inherit;
}
a:hover {
  color: #c803ff;
}

::selection {
  background-color: #7C3AED ;
  color: white;
}

body {
  margin: 0;
  width: 100%;
  background-color: #f9fafb;
}




